In [19]:
# import pandas for structuring the data
import pandas as pd

# import numpy for numerical analysis
import numpy as np

# import matplotlib for diagrams inline with the text
import matplotlib.pyplot as plt
%matplotlib inline

from pandas import json_normalize


import json

In [20]:
# Load JSON data from file
with open('data/starwarsData.json') as f:
    data = json.load(f)

# Normalize the 'people' section to create a table of people data
people_df = json_normalize(data['people'])

In [22]:
people_df.head(5)  # Display the first 5 rows of the DataFrame

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url,desc
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,http://swapi.co/api/planets/1/,"[http://swapi.co/api/films/6/, http://swapi.co...",[http://swapi.co/api/species/1/],"[http://swapi.co/api/vehicles/14/, http://swap...","[http://swapi.co/api/starships/12/, http://swa...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,http://swapi.co/api/people/1/,[Luke Skywalker is a fictional character and t...
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,http://swapi.co/api/planets/1/,"[http://swapi.co/api/films/5/, http://swapi.co...",[http://swapi.co/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,http://swapi.co/api/people/2/,[C-3PO (/siːˈθriːpi.oʊ/) or See-Threepio is a ...
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,http://swapi.co/api/planets/8/,"[http://swapi.co/api/films/5/, http://swapi.co...",[http://swapi.co/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,http://swapi.co/api/people/3/,[R2-D2 is a fictional robot character in the S...
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,http://swapi.co/api/planets/1/,"[http://swapi.co/api/films/6/, http://swapi.co...",[http://swapi.co/api/species/1/],[],[http://swapi.co/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,http://swapi.co/api/people/4/,"[Darth Vader, also known by his birth name Ana..."
4,Leia Organa,150,49,brown,light,brown,19BBY,female,http://swapi.co/api/planets/2/,"[http://swapi.co/api/films/6/, http://swapi.co...",[http://swapi.co/api/species/1/],[http://swapi.co/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,http://swapi.co/api/people/5/,[Princess Leia Organa of Alderaan (also Senato...